.app {
display: flex;
justify-content: center;
width: 45rem;
}
#logo {
    display: block;
   align-items: center;
   text-align: center;
    
}
#menu-bar {
    display: block;
    align-items: center;

}
